<div class="container">
    <!-- Content here -->
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
  </div>


<div class="list-group">
  <li class="list-group-item">My blog</li>
  <div *ngFor="let item of post">
    <div [ngClass]="{'green' : toggle, 'red': !toggle}" >
      TITLE : {{item.title}} <br >
      CONTENT : {{ item.content }} <br >
      LIKES : {{ item.loveIts }} <br >
      DATE : {{ item.created_At }} <br >
  </div>
    <button type="button" class="btn btn-success" (click)="enableDisableRule()" >Love It!</button>
    <button type="button" class="btn btn-danger" (click)="enableDisableRule()" >Hate it!</button>
  </div>
</div>